<div class="m-2 p-2 text-white d-flex justify-content-between shadow round bg-secondary rounded align-items-center zoom ">
    <p>Name: <%- name %>
    </p>
    <p>Phone Number: <%- phoneNumber %>
    </p>
    <p>Email: <%- email %>
    </p>
    <div>
        <button name="<%- i %>"type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%- id %>">Update</button>
        <a href="/secure/<%-delId%>" type="button" class="btn btn-danger">Delete</a>
    </div>
</div>

<div class="modal fade" id="<%- id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/secure/<%-delId%>" method="POST" autocomplete="off">
                <div class="modal-body">
                    <div class="m-2">
                        <label for="name">Name:
                            <input name="name" type="text" id="contact-name" placeholder="<%- name %>"></input>
                        </label>
                    </div>
                    <div class="m-2">
                        <label for="phoneNumber">Phone Number:
                            <input name="phoneNumber" type="text" id="contact-number" placeholder="<%- phoneNumber %>"></input>
                        </label>
                    </div>
                    <div class="m-2 ">
                        <label for="email">Email:
                            <input name="email" type="text" id="contact-email" placeholder="<%- email %>"></input>
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>